.footer{
    display:flex;
    justify-content: space-between;
    position:fixed;
    bottom: 0; 
    height: 65px;
    width: 97%;
    background-color: #282828;
    padding: 20px;
}
.footer__left{
    display:flex;
    align-items:center;
    color: white;
    width: 300px;
}
.footer__left > img{
    height: 70px;
    width: 70px;
    margin-right: 20px;
    object-fit: contain;
}
.footer__center{
    flex: 0.4;
    padding: 0 100px;
    color:white;
    display:flex;
    align-items: center;
    justify-content: space-between;
    max-width: 300px;
    
}
.footer__right{
    flex: 0.3;
    display:flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    max-width: 300px;
    padding: 0 100px;
}

.footer__right .MuiSlider-root{
    color: #1ed15e;
}

.footer__songInfo > h4{
    margin-bottom: 5px;
}
.footer__songInfo > p{
    font-size: 12px;
}


.footer__green{
    color:#1ed15e;
}

.footer__icon:hover,
.footer__green:hover{
    transition: transform 0.2s ease-in-out;
    transform: scale(1.2) !important;
    cursor: pointer;
}

@media all and (max-width: 1174px){
    .footer{
        display:block;
        height: 65px;
    }
    .footer__left{
        display:none;
    }
    
    .footer__center, 
    .footer__right{
        margin: 0 auto;
    }
}
@media all and (max-width: 400px){
    
    .footer__center, 
    .footer__right{
        padding:0 !important;
        padding-right:50px !important;
    }
}